$blue:#2B6FCA ;
$blue2:#3977CA ;

$red:#FF0000 ;
$red2:#F43333 ;

$span: rgb(71, 83, 93);
$border:#b8c9d0;

$shadow2:#89a7e3;

$linear-blue:linear-gradient(to top right, rgba(0, 0, 255, 0.623) ,rgba(0, 153, 255, 0.705)) ;

$shadow1: 0 4px 12px #444171;
