@import "../../../../public/style/color.scss";
@import "../../../../public/style/res.scss";

.container {
    width: 100%;
}

.form {
    width: 68%;
    border: 2px solid #009BFF;
    display: flex;
    align-items: center;
    margin: 1rem auto;
    border-radius: 8px;
    padding: .4rem;
    color: #009BFF;
    overflow: hidden;

    @include md  {
        display: none;
    }

    input {
        background: none;
        width: 60%;

        &::placeholder {
            color: #75b7d2;
        }
    }

    svg {
        font-size: 1.6rem;
        margin-right: .2rem;
    }

    button {
        padding: .1rem .6rem;
        padding-top: .2rem;
        border-radius: 4px;
        background-color: #009BFF;
        color: #fff;

        &:hover {
            background-color: #26a8ff;
        }
    }
}

.spinner {
    width: 100%;
    min-height: calc(100vh - 12rem);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 2rem 0;

    h2 {
        padding: 1rem 0;
        color: #009BFF;
    }
}
