@import "../../../../public/style/res.scss";

//------HamburgerMenu-------
.hamburgerMenu {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    div {
        width: 100%;
        height: 3px;
        margin: 2px 0;
        background-color: #fff;
        border-radius: 4px;
        transform-origin: 0;
    }
}

.hamburgerMenuTrue {
    overflow: hidden;

    div {
        transform-origin: 19%;
    }

    .div1 {
        transform: rotate(45deg);
    }

    .div2 {
        transform: translateX(-150%);
    }

    .div3 {
        transform: rotate(-45deg);
    }
}

//-------------MD----------------
@include md {
    .hamburgerMenu {
        display: none;
    }
}