@import "../../../../public/style/color.scss";
@import "../../../../public/style/res.scss";

.header {

    span {
        position: absolute;
        top: 6rem;
        left: -0;
        display: flex;
        justify-content: end;
        padding-right: .2rem;
        font-size: 2.6rem;
        background-color: rgba(0, 0, 255, 0.42);
        backdrop-filter: blur(4px);
        width: 60px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        z-index: 10;
        cursor: pointer;
    }

    
    svg {
        color: #fff;
    }

    @include md {
        span {
            top: 12rem;
        }
    }
}