@import "../../../../public/style/color.scss";
@import "../../../../public/style/res.scss";

.container {
    width: 100%;
    padding: 1rem;
    overflow: hidden;

    img {
        border-radius: 20px;
        margin: .8rem 0;
        box-shadow: $shadow1;
        filter: grayscale(.3);
    }

    @include md {
        display: flex;
        justify-content: center;

        img {
            margin: 0 1rem;
        }
    }
}