@import "../../../../public/style/color.scss";
@import "../../../../public/style/res.scss";

.container {
    position: fixed;
    bottom: .5rem;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 100;

    ul {
        width: 85%;
        display: flex;
        justify-content: space-between;
        background: $linear-blue;
        backdrop-filter: blur(4px);
        border-radius: 20px;
        padding: .8rem;
        font-size: 2rem;
        overflow: hidden;
    }

    li {
        position: relative;
    }

    svg {
        color: #fff;
        animation: Live 5s infinite;
    }
}

.selected {
    background-color: rgba(32, 32, 104, 0.39);
    border-radius: 40%;
    width: 50px;
    display: flex;
    justify-content: center;

    svg {
        animation: none;
        transform: translateY(-8px);
    }
}

//-------qtyCart----
.qtyCart {
    position: absolute;
    top: -.6rem;
    right: -1.2rem;
    background-color: $red;
    color: #fff;
    font-size: 1rem;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 2px solid #fff;
    padding-top: .3rem;
    animation: Show .8s;
}

//------------Animation------------
@keyframes Show1 {
    0% {
        transform: translateY(-100% ,100%);
        opacity: 0;
    }
}

@keyframes Live {
    0% {
        transform: translateY(-1px);
    }

    50% {
        transform: translateY(1px);
    }

    100% {
        transform: translateY(-1px);
    }
}

@keyframes Show {
    0% {
        right: 0;
        top: 0;
        width: 0;
        height: 0;
        opacity: 0;
    }
}

//----------------MD--------------------
@include md {
    .container {
        display: none;
    }
}