@import "../../../../public/style/color.scss";
@import "../../../../public/style/res.scss";

.container {
    @include max;
    padding: 2rem 1rem;
    padding-bottom: 5rem;
    background-color: #fff;
}

.field1 {
    width: 100%;
    display: flex;
    justify-content: space-between;

    a {
        width: 120px;
        height: fit-content;
        display: flex;
        padding: .2rem .4rem 0 .4rem;
        border-radius: 10px;
        border: 2px solid ;

        svg {
            font-size: 1.2rem;
            margin-right: 2px;
        }
    }
}

.field1_h2 {
    h2 {
        font-size: 1.4rem;
    }

    span {
        font-size: .9rem;
    }
}

.field2 {
    border: 1px solid ;
    padding: .4rem;
    border-radius: 6px;

    h4 {
        text-align: center;
        font-size: 1.1rem;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    svg {
        font-size: 1.6rem;
        margin: 0 1rem;
    }
}

.field3 {
    padding-top: 1rem;
    
    h4 {
        font-size: 1.2rem;
    }
}

.field4 {
    border: 1px solid ;
    border-radius: 6px;
    padding:.4rem;
    margin: .4rem 0;
    text-align: center;

    a {
        display: block;
        text-align: center;
    }
}

@include md {
    .container {
        padding: 2rem;
        padding-bottom: 0;
    box-shadow: 0 0 8px #c9d3ea;
}

    .field1 {
    }

    .field1_h2 {
        h2 {
            font-size: 1.6rem;
        }

        p {
            font-size: 1.1rem;
        }
        
        span {
            font-size: 1rem;
        }

    }

    .field2 {
        border: none;
        padding: 0;
        
        h4 {
            font-size: 1.2rem;
        }

        svg {
            font-size: 2rem;
        }
    }

    .field3 {
        h4 {
            font-size: 1.3rem;
        }
    }

    .field4 {
        border: none;
        border-top: 1px solid ;
    }
}